<hr>

<u><p style="font-family: Calibri; font-size: 50px;text-align: center;"><b>Data Science & Machine Learning Project</b></p></u>

In [1]:
#importing necessary files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

data = pd.read_csv('Fraud.csv')
df = pd.DataFrame(data)
display(df)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

<p style="font-family: Calibri; font-size: 20px;padding-top:60px"><i>Analyzing the dataset using various attributes</i></p>

In [2]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [4]:
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [5]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [6]:
df.info

<bound method DataFrame.info of          step      type      amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT     9839.64  C1231006815      170136.00
1           1   PAYMENT     1864.28  C1666544295       21249.00
2           1  TRANSFER      181.00  C1305486145         181.00
3           1  CASH_OUT      181.00   C840083671         181.00
4           1   PAYMENT    11668.14  C2048537720       41554.00
...       ...       ...         ...          ...            ...
6362615   743  CASH_OUT   339682.13   C786484425      339682.13
6362616   743  TRANSFER  6311409.28  C1529008245     6311409.28
6362617   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362618   743  TRANSFER   850002.52  C1685995037      850002.52
6362619   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00        0
1              19384.72  M2044282225            0.00            0.00        0
2                  0.00   C553264065            0.00            0.00        1
3                  0.00    C38997010        21182.00            0.00        1
4              29885.86  M1230701703            0.00            0.00        0
...                 ...          ...             ...             ...      ...
6362615            0.00   C776919290            0.00       339682.13        1
6362616            0.00  C1881841831            0.00            0.00        1
6362617            0.00  C1365125890        68488.84      6379898.11        1
6362618            0.00  C2080388513            0.00            0.00        1
6362619            0.00   C873221189      6510099.11      7360101.63        1

         isFlaggedFraud
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
6362615               0
6362616               0
6362617               0
6362618               0
6362619               0

[6362620 rows x 11 columns]>

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking for any null values in the DataSet</i></p>

In [7]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the types of transactions done</i></p>

In [8]:
df['type'].value_counts()

type
CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: count, dtype: int64

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Accessing the data of fraudulent transactions from the DataSet </i></p>

In [9]:
Fraud_Transaction=df[df['isFraud']==1]
print(Fraud_Transaction.head())

     step      type   amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
2       1  TRANSFER    181.0  C1305486145          181.0             0.0
3       1  CASH_OUT    181.0   C840083671          181.0             0.0
251     1  TRANSFER   2806.0  C1420196421         2806.0             0.0
252     1  CASH_OUT   2806.0  C2101527076         2806.0             0.0
680     1  TRANSFER  20128.0   C137533655        20128.0             0.0

        nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
2     C553264065             0.0             0.0        1               0
3      C38997010         21182.0             0.0        1               0
251   C972765878             0.0             0.0        1               0
252  C1007251739         26202.0             0.0        1               0
680  C1848415041             0.0             0.0        1               0

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the number of fraudulent transactions in the DataSet</i></p>

In [10]:
df['isFraud'].value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Applying various aggregate functions on the DataSet</i></p>

In [11]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Splitting the non-fraudulent and the fraudulent data under different variables</i></p>

In [12]:
Valid_Data=df[df['isFraud']==0]
display(Valid_Data)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,0,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.0,46042.29,M573487274,0.00,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.0,176087.23,M408069119,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362319,718,PAYMENT,8634.29,C642813806,518802.0,510167.71,M747723689,0.00,0.00,0,0
6362320,718,CASH_OUT,159188.22,C691808084,3859.0,0.00,C1818183087,0.00,159188.22,0,0
6362321,718,CASH_OUT,186273.84,C102120699,168046.0,0.00,C1515639522,24893.67,211167.51,0,0
6362322,718,TRANSFER,82096.45,C614459560,13492.0,0.00,C855350324,0.00,82096.45,0,0
6362323,718,DEBIT,1864.24,C49652609,20426.0,18561.76,C1799009964,188746.00,190610.24,0,0

In [13]:
Fraud_Data=df[df['isFraud']==1]
display(Fraud_Data)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.0,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.0,C38997010,21182.00,0.00,1,0
251,1,TRANSFER,2806.00,C1420196421,2806.00,0.0,C972765878,0.00,0.00,1,0
252,1,CASH_OUT,2806.00,C2101527076,2806.00,0.0,C1007251739,26202.00,0.00,1,0
680,1,TRANSFER,20128.00,C137533655,20128.00,0.0,C1848415041,0.00,0.00,1,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the shape of the splitted data</i></p>

In [14]:
Valid_Data.shape

(6354407, 11)

In [15]:
Fraud_Data.shape

(8213, 11)

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Applying various aggregate functions to the splitted data</i></p>

In [16]:
Valid_Data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.354407e+06,6.354407e+06,6.354407e+06,6.354407e+06,6.354407e+06,6.354407e+06,6354407.0,6354407.0
mean,2.432357e+02,1.781970e+05,8.328287e+05,8.559702e+05,1.101421e+06,1.224926e+06,0.0,0.0
std,1.421402e+02,5.962370e+05,2.887144e+06,2.924987e+06,3.399202e+06,3.673816e+06,0.0,0.0
min,1.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0
25%,1.560000e+02,1.336840e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0
50%,2.390000e+02,7.468472e+04,1.406900e+04,0.000000e+00,1.333118e+05,2.148817e+05,0.0,0.0
75%,3.340000e+02,2.083648e+05,1.069695e+05,1.447307e+05,9.441446e+05,1.111975e+06,0.0,0.0
max,7.180000e+02,9.244552e+07,4.381886e+07,4.368662e+07,3.560159e+08,3.561793e+08,0.0,0.0

In [17]:
Fraud_Data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,8213.000000,8.213000e+03,8.213000e+03,8.213000e+03,8.213000e+03,8.213000e+03,8213.0,8213.000000
mean,368.413856,1.467967e+06,1.649668e+06,1.923926e+05,5.442496e+05,1.279708e+06,1.0,0.001948
std,216.388690,2.404253e+06,3.547719e+06,1.965666e+06,3.336421e+06,3.908817e+06,0.0,0.044097
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.0,0.000000
25%,181.000000,1.270913e+05,1.258224e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.0,0.000000
50%,367.000000,4.414234e+05,4.389835e+05,0.000000e+00,0.000000e+00,4.676420e+03,1.0,0.000000
75%,558.000000,1.517771e+06,1.517771e+06,0.000000e+00,1.478287e+05,1.058725e+06,1.0,0.000000
max,743.000000,1.000000e+07,5.958504e+07,4.958504e+07,2.362305e+08,2.367265e+08,1.0,1.000000

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Creating Sample data for creating sample DataSet to test and train</i></p>

In [64]:
valid_sample=Valid_Data.sample(n=8213)
fraud_sample=Fraud_Data

In [65]:
new_data=pd.concat([valid_sample,fraud_sample],axis=0)

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Analyzing the DataSet using various attributes</i></p>

In [66]:
new_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4917391,350,CASH_IN,257633.71,C1753658835,11083.00,268716.71,C1917453675,553221.86,295588.15,0,0
6289186,661,CASH_IN,242338.33,C479076899,10570.00,252908.33,C1950675550,0.00,0.00,0,0
68663,9,CASH_IN,77871.45,C1368327943,6275300.13,6353171.58,C54802999,180379.83,2793990.78,0,0
360770,17,PAYMENT,11022.43,C1790495422,401662.12,390639.69,M1493985325,0.00,0.00,0,0
2247080,186,PAYMENT,12999.09,C1211240284,54035.00,41035.91,M1104411317,0.00,0.00,0,0

In [67]:
new_data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the counts of fraudulent as well non fraudulent transactions in the new DataSet</i></p>

In [68]:
new_data['isFraud'].value_counts()

isFraud
0    8213
1    8213
Name: count, dtype: int64

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Splitting the sample data into two variables X and Y (where Y is the dependent or the target variable and X is the independent or the predictor variable)<br>As for Machine Learning model we need only numerical data and X have a variety of columns whith different data types so we will pickup the numerical data only</i></p>

In [93]:
x=new_data.drop(['isFraud','isFlaggedFraud'],axis=1)
X=x.select_dtypes(include=['int64', 'float64'])
Y=new_data['isFraud']

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Splitting your dataset into training and testing sets. </i></p>

In [94]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the shape of the X variable</i></p>

In [95]:
print(X.shape,x_train.shape,x_test.shape)

(16426, 6) (13140, 6) (3286, 6)

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Checking the shape of the X variable</i></p>

In [96]:
print(Y.shape,y_train.shape,y_test.shape)

(16426,) (13140,) (3286,)

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>Instantiated a LogisticRegression model which is a classification algorithm suitable for binary classification tasks. In our case, we aim to predict whether a transaction is fraudulent or not.</i></p>

In [97]:
model=LogisticRegression()

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>We are using the fit method which is used to train the model by fitting it to the training data</i></p>

In [98]:
model.fit(x_train,y_train)

LogisticRegression()

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>We used the logistic regression model to predict the labels for the test data here and find out the accuracy score</i></p>

In [99]:
xtest_prediction=model.predict(x_test)
print("Accuracy: ",accuracy_score(xtest_prediction,y_test))

Accuracy:  0.9001825928180158

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>We used the logistic regression model to predict the labels for the train data here to find out the accuracy score</i></p>

In [100]:
xtrain_prediction=model.predict(x_train)
print("Accuracy: ",accuracy_score(xtrain_prediction,y_train))

Accuracy:  0.9036529680365297

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>We will now compare the two accuracies achieved from above</i></p>

In [102]:
Training=accuracy_score(xtrain_prediction,y_train)
Testing=accuracy_score(xtest_prediction,y_test)
print('Accuracy of Testing Data: ',Testing,'\nAccuracy of Training Data: ',Training)

Accuracy of Testing Data:  0.9001825928180158
Accuracy of Training Data:  0.9036529680365297

<p style="font-family: Calibri; font-size: 20px;padding-top:40px"><i>We also diplayed the Confusion matrix and the classification report to deeply understand the result of our data</i></p>

In [91]:
print("Confusion Matrix: ",confusion_matrix(y_test,xtest_prediction))

Confusion Matrix:  [[1497  146]
 [ 182 1461]]

In [92]:
print("Classification Report: ",classification_report(y_test,xtest_prediction))

Classification Report:                precision    recall  f1-score   support

           0       0.89      0.91      0.90      1643
           1       0.91      0.89      0.90      1643

    accuracy                           0.90      3286
   macro avg       0.90      0.90      0.90      3286
weighted avg       0.90      0.90      0.90      3286

<u><p style="font-family: Calibri; font-size: 50px;text-align: center;padding-top:40px"><b>Conclusion</b></p></u>
<p style="font-family: Calibri; font-size: 30px;padding-top:30px"><b>Answers to the Candidate Expectations Questions</b></p>

<p style="font-family: Calibri; font-size: 15px;">
<b>Fraud Detection Model</b><br><i>Utilizing the logistic regression model, we trained it on the training data to learn the underlying patterns and relationships between transaction attributes and the 'isFraud' label. The model was able to generalize from the training data and make predictions on new, unseen data with the test dataset.</i><br><br>
<b>Variable Selection</b><br>
<i>Variables were selecting by the basis of the independent and dependent varibales int the fraud detection. As according to this data 'isFraud' column was selected to be one of the variable because it holds an important feature that is necessary to be included in the model.</i><br><br>
    
<b>Demonstrating Model Performance</b><br>
<i>For the Model performance various tools from scikit library were used like the accuracy_score, the confusion_matrix and the classification_report which gives us a deep understanding of the performance of our model</i><br><br>
    
<b>Key Factors Predicting Fraudulent Customers</b><br>
<i>The key factors that may predict fraudulent customers can be identified by analyzing the model's feature some of these factors could indicate which attributes have the most significant influence on the likelihood of a transaction being fraudulent. Like the 'type' of the transaction and the 'amount' of the transaction</i><br><br>
    
<b>Interpreting the Key Factors</b><br>
<i>
These factors should make sense from a domain perspective. For instance, certain transaction types might be more prone to fraud, higher transaction amounts might raise suspicions, and specific time periods might be associated with increased fraud risk. The interpretation of factors is essential to validate the model's findings and align them with real-world fraud patterns.</i><br><br>
    
<b>Prevention Strategies for Infrastructure Updates</b><br>
<i>Monitoring customer behavior and flagging suspicious activities, Adopting two-factor authentication for critical action, Analyzing customer patterns to identify anomalies, Regularly updating fraud detection models to adapt to new patterns.</i><br><br>
    
<b>Concluding Line</b><br>
<i>In conclusion, to assess the effectiveness of the implemented actions, a comparative analysis of the train and test data alongside the actual data is crucial. By modeling the dataset and validating against real-world outcomes, we have established the accuracy and reliability of the results. This ensures that our fraud detection model can make strong predictions and contribute to a more secure ecosystem.</i><br><br></p>

<p style="font-family: Calibri; font-size: 30px;text-align:right">Done by :- Aditya Acharya</p>

<hr>